* {
  box-sizing: border-box;
}
/* gallery backgroud css */
.galleryWrapper {
  background: #fff;
  margin-top: 8px;
  margin-bottom: 8px;
  border-radius: 7px;
}

/* Gallery Title Header */
.gallery_header {
  padding: 40px 50px;
  display: flex;
  justify-content: space-between;
}

.gallery_header h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 24px;
}
/* grid layout with grid */
.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 35px;
  padding: 35px 50px;
  align-items: stretch;
  box-sizing: border-box;
}

.item {
  position: relative;
  display: block;
  height: 150px;
  overflow: hidden;
  border-radius: 7px;
  border: 2px solid rgb(214, 207, 207);
}

/* make the first child will be bigger tile */
.item:first-child {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  width: 100%;
  height: 340px;
  border: 2px solid rgb(214, 207, 207);
}

/* .item:-moz-drag-over .checkbox {
  display: none;
} */

/* image widh and height */
.item img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* when hover the effect will trigger */

.item:hover .effects {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #00000080;
  z-index: 999;
  top: 0;
  left: 0;
}

.sortable-chosen .effects {
  background-color: transparent !important;
}

.sortable-chosen:hover .effects {
  background-color: transparent !important;
}

.sortable-ghost:hover .checkbox {
  visibility: hidden;
}

.checkbox {
  background-color: red;
}

.item .checkbox {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 20px;
  height: 20px;
  display: none;
}

.sortable-chosen .effects {
  background-color: transparent;
}

/* when checkbox as checked */

.checkbox:checked {
  display: block;
}

/* when checkbox as checked but effect class will trigger */

.checkbox:checked ~ .effects {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ffffff80;
  z-index: 9999;
  top: 0;
  left: 0;
}

#nine,
#eight,
#seven {
  object-fit: contain;
}

/* when checkbox as checked but checkbox class will be trigger */

.checkbox:checked ~ .checkbox {
  display: block;
  z-index: 999999;
}

.item:hover .checkbox {
  display: block;
  z-index: 999999;
}

.flex {
  display: flex;
  align-items: center;
}

.checkboxicon {
  margin-right: 10px;
}

.gallery_header button {
  outline: none;
  background-color: #fff;
  border: none;
  font-weight: 600;
  cursor: pointer;
  font-size: 18px;
}

.addimage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.addimage h4 {
  font-weight: 600;
  font-family: sans-serif;
}

/* 
*  last child border will be dotted
*  border-style: dotted
*/

.item:last-child {
  border: 3px dotted rgb(214, 207, 207);
}

.item button {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
}

.non-draggable button {
  position: relative;
  cursor: pointer;
}
.item:last-child {
  position: relative;
}

.item:last-child button {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 555;
}

.delete {
  color: red;
}
/* Extra extra large screen */
@media (min-width: 1200px) and (max-width: 1399px) {
  /* grid layout with grid */
  .grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 35px;
    padding: 35px 50px;
    align-items: stretch;
    box-sizing: border-box;
  }

  .item {
    position: relative;
    display: block;
    height: 150px;
    overflow: hidden;
    border-radius: 7px;
    border: 2px solid rgb(214, 207, 207);
  }

  /* make the first child will be bigger tile */
  .item:first-child {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    width: 100%;
    height: 340px;
    border: 2px solid rgb(214, 207, 207);
  }
}
/* Extra large screen */
@media (min-width: 992px) and (max-width: 1199px) {
  /* grid layout with grid */
  .container {
    width: 992px;
    margin: 0 auto;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20;
    /* padding: 35px 50px; */
    /* align-items: stretch; */
    /* box-sizing: border-box; */
  }

  .item {
    position: relative;
    display: block;
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 7px;
    border: 2px solid rgb(214, 207, 207);
  }

  /* make the first child will be bigger tile */
  .item:first-child {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    width: 100%;

    /* width: 300px; */
    height: 335px;
    border: 2px solid rgb(214, 207, 207);
  }
}
/* Large screen */
@media (min-width: 768px) and (max-width: 991px) {
  /* grid layout with grid */
  .container {
    width: 768px;
    margin: 0 auto;
  }

  .gallery_header {
    padding: 40px 40px;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10;
    /* padding: 35px 50px; */
    /* align-items: stretch; */
    /* box-sizing: border-box; */
  }

  .item {
    position: relative;
    display: block;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 7px;
    border: 2px solid rgb(214, 207, 207);
  }

  /* make the first child will be bigger tile */
  .item:first-child {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    width: 100%;

    /* width: 300px; */
    height: 435px;
    border: 2px solid rgb(214, 207, 207);
  }
}
/* Medium screen */
@media (min-width: 576px) and (max-width: 767px) {
  /* grid layout with grid */
  .container {
    width: 100%;
    margin: 0 auto;
  }

  .gallery_header {
    padding: 40px 5px;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 10px;
    grid-gap: 10;
    padding: 0;
    box-sizing: border-box;
  }

  .item {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 7px;
    border: 2px solid rgb(214, 207, 207);
  }

  /* make the first child will be bigger tile */
  .item:first-child {
    grid-column-start: 1;
    grid-column-end: -2;
    grid-row-start: 1;
    grid-row-end: 3;
    width: 100%;

    /* width: 300px; */
    height: 435px;
    border: 2px solid rgb(214, 207, 207);
  }
}
/* Small screen */
@media (max-width: 576px) {
  /* grid layout with grid */
  .container {
    width: 100%;
    margin: 0 auto;
  }

  .gallery_header {
    padding: 40px 5px;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 10px;
    grid-gap: 10;
    padding: 0;
    box-sizing: border-box;
  }

  .item {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 7px;
    border: 2px solid rgb(214, 207, 207);
  }

  /* make the first child will be bigger tile */
  .item:first-child {
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: 3;
    width: 100%;
    /* width: 300px; */
    height: 100%;
    border: 2px solid rgb(214, 207, 207);
  }

  .non-draggable .mybtnadd {
    width: 100%;
    height: 100%;
  }

  .item:last-child {
    min-height: 200px;
    max-height: 576px;
  }
}
